@charset "UTF-8";

/* import */
@import url(reset.css);
@media print{body{zoom: 65%;}}

#skipNavi,.blind,.banner_tab p{position: absolute; top: -99999999px;}

body{font-size: 13px; font-family: "맑은고딕","Malgun Gothic",dotum,"돋움" ,sans-serif; color: #444; }
a{text-decoration: none; color: #444;}




#wrap{width:100%;background:url('../images/bg_wrapper.gif') no-repeat 50% 0; overflow: hidden;}
.inner{width: 980px; height: 100%; margin: 0 auto;  }
#wrap header{width: 980px; height: 155px; margin: 0 auto; position: relative;}
#wrap header form{position: absolute; top: 0; right: 0;}

/* top menu */
#wrap header .topMenu{padding-top: 9px; font-size: 12px;}
#wrap header .topMenu dd{float: left; margin-right: 11px; padding-right: 15px;}
#wrap header .topMenu .login{background: url('../images/icon_quickBar.gif') no-repeat 100% 60%; }
#wrap header .topMenu .lang{position: relative; padding-right: 11px; background: url('../images/icon_sc_arrow.gif') no-repeat 100% 7px;}
#wrap header .topMenu .lang ul{position: absolute; top: 31px;left: -10px; width: 120px; padding: 15px; border: 1px solid #bcbcbc; background: #f8f9fb; display: none;}
#wrap header .topMenu .lang ul li{padding-left: 15px; background: url('../images/icon_dot.gif') no-repeat 0 50%; line-height: 200%;}
#wrap header .topMenu .lang a{color: #fff; text-decoration: none;}
#wrap header .topMenu .login a{color: #fff; text-decoration: none;}
#wrap header .topMenu .custom a{color: aqua; text-decoration: none; font-weight: bold;}

/* search */
 #wrap header .search{padding-left: 713px;}
 #wrap header .search dd{float: left; margin-right: 30px; padding-right: 12px; background: url('../images/icon_sc_arrow.gif') no-repeat 100% 50%;}
 #wrap header .search dd a{color: #fff; font-size: 15px; font-weight: bold; text-decoration: none;}

 /* logo */
 #wrap header .logo{padding-top: 60px;}


 /* menu */
 #wrap header ul.gnb{position: relative; top: -41px; left: 284px;}

 /* sub menu */
 #wrap header ul.gnb ul{display: none;}
#wrap header ul.gnb li.nav{float:  left; padding-right: 69px;}
#wrap header ul.gnb>li>a{display: block;height: 70px;}
#wrap header ul.gnb li.nav .last{border-right: none;}
#wrap header ul.gnb li.nav dt{margin-top: 20px;margin-bottom: 12px; padding: 10px 15px; background: #f0f1f6; font-weight: bold; color: #333; letter-spacing: -1px;} 
.nav dd a, .nav li a{padding-left: 10px; background: url('../images/icon_dot.gif') no-repeat 0 50%; color: #555; line-height: 200%;}
.nav dd a:hover, .nav li a:hover{color: #2a67a1; font-weight: bold;}
ul.gnb .menu1,
ul.gnb .menu2{ position: absolute; top: 69px; left: -284px; z-index: 999; width: 980px; border: 1px solid #bcbcbc; background: #fff;}
ul.gnb .menu1 dl{float: left; width: 155px; height: 400px; padding: 0 20px; border-right: 1px solid #e8e8e8;}
ul.gnb .menu2 h3{padding: 10px; background: #e8f1fe; font-weight: bold; color: #2a67a1; text-align: center; }
ul.gnb .menu2 .first{float: left; padding-right: 40px;}
ul.gnb .menu2 .scnd{float: right;}
ul.gnb .menu2 li{float:left; height: 430px; padding: 20px; border-right: 1px solid #e8e8e8;}
ul.gnb .menu2 .top{margin-top: 60px;}
ul.gnb .menu3,
ul.gnb .menu4,
ul.gnb .menu5{position: absolute; left: 0;top: 69px; z-index: 99999; padding: 20px; border: 1px solid #bcbcbc; background: #fff; font-weight: bold; letter-spacing: -1px; line-height: 210%;}
ul.gnb .menu3 {left: 240px; width: 140px;}
ul.gnb .menu4 {left: 380px; width: 140px;}
ul.gnb .menu5 {left: 515px; width: 140px;}

/* total menu */

.totalMenu dt{position: absolute; top: 79px; right: 0;}
.totalMenu dt a{display: block;width: 38px; height: 38px; text-indent: -999999px; background: url('../images/btn_allmenu.gif') no-repeat 0 0;}

/* 안내 바 */
.middle{width: 100%; height: 42px; background: #fbfbfb; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; box-sizing: border-box;}
.middle .inner{position: relative;}
.middle .left_icon{position: absolute; left: 0; top: 11px;}
.middle .left_icon span{margin-right: 9px; font-size: 12px; float: left;}
.middle .left_icon span.home{width: 18px; height: 15px; display: block; background: url('../images/icon_home.gif') no-repeat 0 0;}
.middle .left_icon span:last-child{font-weight: bold;}
.middle .right_icon{position: absolute; right: 0; top: 0;}
.middle .right_icon span{float: left;}
.middle .right_icon span.zoomIn{width: 42px; height: 40px; background: url('../images/btn_path_plus.gif') no-repeat; cursor: pointer;}
.middle .right_icon span.zoomOut{width: 40px; height: 40px; background: url('../images/btn_path_minus.gif') no-repeat; cursor: pointer;}
.middle .right_icon span.print{width: 46px; height: 40px; background: url('../images/btn_path_print.gif') no-repeat; cursor: pointer;}


/* 회원가입 콘텐츠 */
section.contents{width: 100%; height: 887px;}
section.contents aside{width: 200px; height: 847px; float: left; padding-top: 40px;}
section.contents aside h4.login{font-size: 20px; padding-left: 20px; width: 180px; font-weight: bold; color: #fff; height: 60px; line-height: 60px; background: #4563a1;}
section.contents aside>ul{width: 100%; height: 190px; }
section.contents aside>ul>li{width: 200px; height: 25%; line-height: 47.5px; padding-left: 20px; border-left: 1px solid #e1e1e5;  border-bottom: 1px solid #e1e1e5; border-right: 1px solid #e1e1e5;  box-sizing: border-box; background: #f0f1f6;}
section.contents aside>ul>li>a{display: block; color: #444; font-size: 12px;}
section.contents aside>ul>li.on{background: #fff;}
section.contents aside>ul>li.on>a{ font-weight: bold; color: #333; font-size: 14px; }

section.contents .center{padding:28px 0 0 40px; width: 740px; float: left;}
section.contents .center h4.title{font-size: 38px; font-weight: bold; letter-spacing: -3px; color: #333; height: 70px; border-bottom: 2px solid #666;}
section.contents .center p{padding: 35px 0 30px 0;}
section.contents .center table{width:740px;border-top:2px solid #3a7ab8;}
section.contents .center tr{height:50px; border-bottom:1px solid #dedede; box-sizing: border-box;}
section.contents .center th{width:170px; height: 100%;  padding-left:40px; border-right:1px solid #dedede;box-sizing: border-box; background:#f8f9fb;font-weight:bold; position: relative;}
section.contents .center th img{position: absolute; left: 20px; top: 21.5px;}
section.contents .center th img.userAdd{position: absolute; left: 20px; top: 40px;}
section.contents .center td{padding-left: 10px;}
section.contents .center td input{width: 200px; height: 28px; border:1px solid #ccc; }
section.contents .center td .checkBtn{width: 66px; height: 28px; margin-left: 5px; cursor: pointer;}
section.contents .center td .checkBtn img{width: 66px; height: 28px;border: 1px solid #ccc;box-sizing: border-box;}
section.contents .center td .ex{ font-size:12px; color:#456186; letter-spacing:-1px; margin-left: 8px; line-height: 50px;}
section.contents .center td.ph{color: #444;}
section.contents .center td.ph input{width: 55px;}
section.contents .center td select{width: 200px; height: 30px; border: 1px solid #ccc; box-sizing: border-box;color:#797663; font-size: 12px}
section.contents .center td.address{ padding-top: 10px; padding-bottom: 10px;}
section.contents .center td.address .addSearch{ margin: 0 5px 10px 5px; width: 99px; height: 30px; float: left; cursor: pointer;}
section.contents .center td.address .addSearch img{ width: 99px; height: 30px; border: 1px solid #ccc; box-sizing: border-box;}

section.contents .center td.address input:nth-child(1){width: 94px; height: 30px; margin-bottom: 10px; float: left;}
section.contents .center td.address input:nth-child(3){width: 336px; height: 30px; margin-bottom: 10px; margin-left: 0; float: left; background: #f5f5f5;}
section.contents .center td.address input.last_input{width: 540px; height: 30px; box-sizing: border-box;}
section.contents .center td.address input{box-sizing: border-box;}

/* 확인, 취소 버튼 */
section.contents .btn_box{float: right; margin-top: 20px;}
section.contents .btn_box span{cursor: pointer;}
section.contents .btn_box span:first-child{margin-right: 5px;}



/* 하단메뉴 */
section.bmenu{width: 100%; height: 291px;  background: #5d6a7b; padding: 34px 0 40px 0;}
section.bmenu ul.inner{ height: 100%; background: url('../images/bg_footList.gif')repeat-y 0 0; }
section.bmenu>ul>li{float: left;}
section.bmenu>ul>li:nth-child(1){width: 140px;}
section.bmenu>ul>li:nth-child(2){width: 112px; padding-left: 20px;}
section.bmenu>ul>li:nth-child(3){width: 138px;padding-left: 20px;}
section.bmenu>ul>li:nth-child(4){width: 130px;padding-left: 20px;}
section.bmenu>ul>li:nth-child(5){width: 130px;padding-left: 20px;}
section.bmenu>ul>li:nth-child(6){width: 84px;padding-left: 20px;}
section.bmenu>ul>li:nth-child(7){width: 124px;padding-left: 20px;}

section.bmenu>ul>li dt{font-size: 16px; color: #fff; font-weight: bold; margin-bottom: 10px;} 
section.bmenu>ul>li dd{font-size: 12px; color: #fff; line-height: 20px; padding-left: 8px; background: url('../images/icon_dot3x3.gif') no-repeat left 8px; cursor: pointer;} 


/* 푸터 */
footer{width: 100%; height: 116px; background: #394b61; padding-top: 34px;}

footer .b_left{float: left ; width: 80%;}
footer .b_left .menuList{width: 100%; height: 35px;}
footer .b_left .menuList ul li{float: left; margin-right: 10px;}
footer .b_left .menuList ul li a{background: url('../images/icon_bar1x11.gif') no-repeat right; color: #fff; font-size: 12px; padding-right: 10px; font-weight: bold;}
footer .b_left .menuList ul li:last-child a{background: none;}

footer .b_left .copyright{width: 100%; color: #fff;}
footer .b_left .copyright p{font-size: 12px; line-height: 17px;}

footer .familySite{float: right;} 
footer .familySite select{float: left; width: 135px; height: 28px; line-height: 28px; font-size: 12px; color:#767676; border: 1px solid #ccc; outline: none;}
footer .familySite a{display: block; float: left; width: 51px; height: 28px;  background: url('../images/next.jpg') no-repeat; margin-left: 2px;  text-indent: -99999px;} 

