@charset "UTF-8";

    
    @font-face {
        font-family: 'pen';
        src: url('../fonts/Felicia-qmJ5.ttf') format('truetype');
    }

/* reset */
*{margin: 0;padding: 0;}
ul, li,h1{margin: 0;padding: 0; list-style: none;}
a,img{display: block; text-decoration: none; color: #333;}
body{ font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.01em; }



#wrap{width: 100%; height: 100%; min-height: 100vh;  min-width: 1200px;  background: url('../images/wall.jpg') no-repeat center; background-size: 100% 100%;  overflow: hidden;}

h1{font-family: 'pen'; color: #F2B318; font-size: 40px; font-weight: 500; width: 100%; text-align: center;  position: absolute; top: 50%; transform: translateY(-380%); letter-spacing: normal;}

nav{width:auto; height: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) scale(0.75); }
/* page transition */

.fade{width: 100%; height: 100%; min-height: 100vh;  min-width: 1200px;  position: relative;
    animation: fadein 700ms ease-out;
    -moz-animation: fadein 700ms ease-out; /* Firefox */
    -webkit-animation: fadein 700ms ease-out; /* Safari and  Chrome */
    -o-animation: fadein 700ms ease-out; /* Opera */
}
@keyframes fadein {
    from {opacity:0; transform:  scale(1.1);}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0; transform:  scale(1.1);}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0; transform: scale(1.1);}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0; transform: scale(1.1);}
    to {opacity: 1;}
}

nav .shadow{content: ''; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-51%,-48%); width: 686.25px; height: 433.5px; background: url('../images/shadow.png') no-repeat center; background-size: contain; }
nav ul.tray{width: 640.5px; height: 387.75px; position: relative; background: url('../images/tray.png') no-repeat center; background-size: contain; }
nav ul li{transition: .15s; position: absolute; cursor: pointer;}
nav ul li.rotate{transform: scale(1.15) rotate(-5deg);}

nav ul li.about_me{background: url('../images/lego.png') no-repeat center; background-size: contain; width: 217.5px; height: 321px;  top: 33.5px; left: 27.5px;}
nav ul li.about_me:hover{background: url('../images/lego_hover.png') no-repeat center;background-size: contain; }


nav ul li.web{background: url('../images/web.png') no-repeat center; background-size: contain;width: 132.75px; height: 106.5px;  top: 34.25px; left: 307.25px;}
nav ul li.web:hover{background: url('../images/web_hover.png') no-repeat center; background-size: contain;}

nav ul li.mobile{background: url('../images/mobile.png') no-repeat center; background-size: contain; width: 84px; height: 174px; top: 170.25px; left: 356px;}
nav ul li.mobile:hover{background: url('../images/mobile_hover.png') no-repeat center; background-size: contain;}

nav ul li.ppt{background: url('../images/ppt.png') no-repeat center; background-size: contain; width: 94.5px; height: 68.25px; top: 46px; left: 516px;}
nav ul li.ppt:hover{background: url('../images/ppt_hover.png') no-repeat center; background-size: contain;}

nav ul li.emoticon{background: url('../images/emoticon.png') no-repeat center; background-size: contain; width: 76.5px; height: 76.5px;  top: 156.5px; left: 524px;}
nav ul li.emoticon:hover{background: url('../images/emoticon_hover.png') no-repeat center; background-size: contain;}

nav ul li.drawing{background: url('../images/drawing.png') no-repeat center; background-size: contain; width: 76.5px; height: 76.5px;top: 266.75px; left: 524px;}
nav ul li.drawing:hover{background: url('../images/drawing_hover.png') no-repeat center; background-size: contain;}

nav ul li a{width: 100%; height: 100%;}
