@charset "UTF-8";

/* reset */
*{margin: 0;padding: 0;}
body{background: #ffffff; color: #333333;}
ul, li{margin: 0;padding: 0; list-style: none;}
a{text-decoration: none; color: #333333; display: block;}
img:hover{opacity: 0.7;}

#wrap{width: 1200px; margin: 0 auto;}
#wrap header{width: 1200px; height: 100px; position: relative; clear: both;}
#wrap header .logo{width: 300px; height: 100px;  float: left;}
#wrap header .logo a img{margin-top: 30px;}
#wrap header .menu{width: 900px; height: 100px;  float: left;}
#wrap header .menu nav{width: 800px; height: 40px; position: absolute; top: 30px; right: 0; z-index: 999; float: left;}
#wrap header .menu nav>ul>li{width: 200px; height: 40px; line-height: 40px; float: left; background: #0076be;}
#wrap header .menu nav>ul>li>a{font-weight: bold; text-align: center; color: #ffffff; font-size: 16px;}
#wrap header .menu nav>ul>li>a:hover{background: #5aaadb; color: #000;}
#wrap header .menu .submenu ul{width: 200px; height: 160px; background: #ffffff;}
#wrap header .menu .submenu ul li{width: 200px; height: 40px; line-height: 40px; background: #ffffff;}
#wrap header .menu .submenu ul li a{text-align: center; color: #333333; font-size: 16px;}
#wrap header .menu .submenu ul li a:hover{ color: #e66b27; background: #ececec; font-weight: bold;}
nav>ul>li>div{width: 200px; height: auto; display: none;}


#wrap section{width: 1200px;height: 500px;}
#wrap .slider{width: 1200px; height: 300px; overflow: hidden; position: relative;}
#wrap .slider .sliderList{width: 3600px; height: 300px; position: absolute; top: 0; left: 0;}
#wrap .slider .sliderList .sliderImg{float: left;}
#wrap .slider .sliderList .sliderImg img{display: block;}

#wrap .con{width: 1200px; height: 200px;}
#wrap .con .con1{width: 400px;height: 200px; float: left;}
#wrap .con .con1 .n{height: 155px; margin-top: 10px;}
#wrap .con .con1 .n li{height: 30px; line-height: 30px; border-bottom: 1px dashed #ddd; box-sizing: border-box;}
#wrap .con .con1 .n li a{float: left; font-size: 14px; }
#wrap .con .con1 .n li a:hover{color:#e66b27;}
#wrap .con .con1 .n li span{float: right; font-size: 12px;}
#wrap .con .con1 .g{ height: 155px; margin-top: 10px;}
#wrap .con .con1 .g li{float: left; margin-right: 3px;}


#wrap .con .con2{width: 400px;height: 200px; float: left;}
#wrap .con .con3{width: 400px;height: 200px; float: left;}

#wrap footer{width: 1200px;height: 100px; border-bottom: 3px solid #0076be; clear: both;}
#wrap footer .blogo{width: 100px; height: 100px; float: left;}
#wrap footer .blogo img{margin-top: 40px;}

#wrap footer .bottom{width: 1100px; height: 100px; float: left;}
#wrap footer .bottom .bmenu{width: 1100px; height: 50px; }
#wrap footer .bottom .bmenu ul{ border-bottom: 1px solid #ddd; box-sizing: border-box; padding-left: 280px; height: 50px; width: 1100px;}
#wrap footer .bottom .bmenu ul li{float: left; height: 50px; line-height: 50px; margin-right: 50px;}
#wrap footer .bottom .bmenu ul li a{font-size: 16px;}
#wrap footer .bottom .bmenu ul li a:hover{color: #e66b27; font-weight: bold;}
#wrap footer .bottom .copyright{width: 1100px; height: 50px;} 
#wrap footer .bottom .copyright p{text-align: center; font-size: 14px; width: 1100px; height: 50px;line-height: 50px;}

#popup{display: none; width: 500px;height: 400px; border: 3px solid #0076be; box-sizing: border-box; background: #ffffff; position: absolute; z-index: 9999; top: 300px; left: 50%; transform: translate(-50%,-50%)} 
#popup p{font-size: 20px; color: #0076be; padding: 30px; text-align: center; border-bottom:  1px solid #0076be;  font-weight: bold;}
#popup .close{ position:absolute ; top: 10px; right:10px;}
#popup .close button{ border-radius: 50px; width: 28px; height: 28px; border: 0; background: #e66b27; color: #ffffff; cursor: pointer;}
#popup .text{margin-top: 30px;}
#popup .text ul li{font-size: 18px;  height: 40px; line-height: 40px;width: 500px; text-align: center;}