@charset "UTF-8";

/* css는 항상;으로 마감을 한다 */
/* reset */
/* *{margin:바깥여백;padding:안쪽여백} */
*{margin: 0;padding: 0;}


/* ../ <폴더 바깥으로 나오기 */
/* repeat-x x방향으로만 반복 */
ul, li {margin: 0;padding: 0; list-style: none;}
/* width가 정해져야 중앙정렬가능, 높이값은 무의미 */
a {text-decoration: none;}
/* a {text-decoration: none;} 링크 줄 없애기 */

#wrap {width: 1200px; margin:0 auto;}
/* margin 0 auto;(2개) -> 상,하 여백: 0 + 좌,우 여백 : auto는 중앙정렬 */
/* margin 50px 30px 50px 150px;(4개) -> 상, 오, 하, 왼 */


.blind { position:absolute; top: 0; left: 0; overflow:hidden;  text-indent:-999999999px; width: 0;height: 0; font-size: 0;}
body {background: url("../images/sub_bg.gif")repeat-x;}

/* wrap에서 width가 설정돼서 height만 설정 */
/* header */
#wrap header {height: 120px;background: #fff;position: fixed; width: 100%; top:0; left: 0;  
    z-index: 200;}
#wrap header .innerheader { width: 1200px; height: 100%; margin: 0 auto;}
/* 고정된 상단메뉴 중앙정렬하기 class따로 지정 */
#wrap header .logo {width: 300px;height: 120px; float: left;}
#wrap header .logo a {font-size: 35px; line-height: 120px;
font-weight: bold; color:#F4A7BA; text-shadow:2px 2px 1.5px rgb(53, 53, 53);}
#wrap header .logo a:hover {color:black; text-shadow:2px 2px 3px #F4A7BA;}

/* menu */
#wrap header .menu {width: 900px;height: 120px; float: left;}
#wrap header .menu ul{float: right;}
#wrap header .menu ul li{float: left; margin-right:30px;height: 120px; line-height: 120px;}
#wrap header .menu ul li a{color:black; font-size: 20px; font-weight: bold;}

#wrap header .menu li a:hover{color:#F3A6BB; border-bottom: 3px solid #000;
padding-bottom: 2px;}
/*          △띄어쓰기는 하위영역 */

#wrap section{height: 1100px; background: #fff; border-top:1px solid rgb(196, 196, 196); box-sizing: border-box; margin-top: 120px;}

/* 왼쪽메뉴 */
#wrap section aside{float: left; width: 250px; height: 1200px; background: #ddd;}
#wrap section aside .subimg1{width: 250px; height: 215px; background:url(../images/bbs/sub2.jpg); position: relative;}
#wrap section aside .subimg1 p{color: #fff; font-size: 23px; font-weight: bold; position: absolute; top: 85px; left: 85px;}

/* 왼쪽메뉴 버튼 */
#wrap section aside .lnb{width: 250px;height: 985px; background: #fff; border-right: 1px solid #d1d1d1; box-sizing: border-box;}
#wrap section aside .lnb ul.nav li{height: 45px;line-height: 45px; font-size: 15px; text-align: center; border-bottom: 1px solid #d1d1d1; box-sizing: border-box;}
#wrap section aside .lnb ul.nav li a{display: block; color: #666; font-weight: bold;}
#wrap section aside .lnb ul.nav li a:hover{color: #000; background: #ddcdcd;}
#wrap section aside .lnb ul.nav li a:focus{color: #000; background: #ddd;}

/* 게시판 */
#wrap section #contents{float: left; width: 950px; height: 1200px; background: rgb(255, 255, 255);}
#wrap section #contents h1{color: #F4A7BA; font-size: 27px; font-weight: bold; margin: 40px 0 30px 70px;}
#wrap section #contents .viewbox{width: 795px; height: 145px; font-size: 13px; border: 3px solid #eaeaea; margin: 20px 0 20px 70px; background: #fafafa; position: relative;}

#wrap section #contents .viewbox dl.boxmenu1{ width: 705px; padding: 16px 0 0 16px;}
#wrap section #contents .viewbox dl.boxmenu1 dt img:hover{opacity: 0.5;}
#wrap section #contents .viewbox dl.boxmenu1 dd{position: absolute; top: 40px; left: 350px; font-size: 20px; color:#696969; font-weight: bold;}
#wrap section #contents .viewbox dl.boxmenu1 dd a{color: #333;}
#wrap section #contents .viewbox dl.boxmenu1 dd a:hover{color:#999;}
#wrap section #contents .viewbox dl.boxmenu1 dd a span{ font-size: 13px;}

/* 테이블 */
#wrap section #contents table{width: 800px; font-size: 13px; margin-left: 70px; border-top: 2px solid #a3a3a3; border-bottom: 2px solid #a3a3a3; border-collapse: collapse;}
/* border-collapse: collapse 표 사이 붙이기 */
#wrap section #contents table tr th{height: 31px; background: #000; border-bottom: 1px solid #a3a3a3; text-align: center;}
#wrap section #contents table tr:hover{background: #f6f6f6;}
#wrap section #contents table tr img{vertical-align: middle;} 
#wrap section #contents table tr td{height: 31px; border-bottom: 1px solid #e2e2e2; text-align: center;}
#wrap section #contents table tr td img{vertical-align: middle;}
#wrap section #contents table tr td.title{text-align: left;}
#wrap section #contents table tr td.title a{color: #666;}
#wrap section #contents table .gray{color: #999; font-size: 11px;}

/* 페이지 */
#wrap section #contents p.page{width: 800px; height: 33px; line-height: 33px; text-align: center; color: #999; padding: 10px; margin-left: 70px;}
#wrap section #contents p.page a{padding: 0 3px; font-size: 12px; color: #666;}
#wrap section #contents p.page a:hover{color: #ddd;}

/* search */
#wrap section #contents fieldset {border:none;}
#wrap section #contents .search{width: 780px; text-align: center;margin-left: 70px;    margin-bottom: 80px; padding: 13px 20px 13px 0; background: url(../images/bbs/board_search_title.gif)no-repeat 20px 100%;    
            border: 1px solid #e2e2e2; position: relative; z-index: 9999999999;border-top:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2;}
#wrap section #contents .search select{height: 23px;margin-left: 5px; border: 1px solid #e2e2e2; vertical-align: middle;}
#wrap section #contents .search input{padding-left: 7px; margin-left: 5px; vertical-align: middle; }
#wrap section #contents .search input.box{height: 23px; border: 1px solid #e2e2e2;}
#wrap section #contents .search input.search_img{position: absolute; left: 595px; top: 15px;}

/* footer */
#wrap footer {height: 120px; }
/* border-top:1px solid #999; background:#fff;box-sizing: border-box; */
/* solid 한줄넣겠다  */
/* box-sizing : border-box; 여백과 선을 기본 사이즈에 포함 */

#wrap footer p {line-height: 1.7; font-size: 14px; color: #999; text-align: center; margin-top: 25px;}
#wrap footer p a {color:black;}
#wrap footer p a:hover { text-decoration: underline; color: #999;} /*링크에 라인넣기} */


#wrap footer .blogo{width: 250px; height: 120px;float: left;  margin-top: 30px;}
#wrap footer .blogo a{font-size: 25px;
    font-weight: bold; color: rgb(150, 150, 150);}
#wrap footer .Copyright{width: 700px; height: 120px;float: left;}
#wrap footer .sns{width: 250px; height: 120px;float: left;}

#wrap footer .sns ul{float:right;}
#wrap footer .sns ul li{float:left; margin: 30px 0 0 10px;}
#wrap footer .sns ul li img:hover{opacity: 0.5;}