@charset "UTF-8";

/* reset */
*{margin: 0;padding: 0;}
ul, li{margin: 0;padding: 0; list-style: none;}
a{text-decoration: none;}
body{background: #222;}

#wrap{width: 1200px; margin: 0 auto;}
#wrap header{width: 1200px; height: 100px; background: #222; position: fixed; top: 0; z-index: 99;}
#wrap header .logo{width: 300px; height: 100px;  float: left;position: relative;}
#wrap header .logo a{color: #fff; font-size: 25px; font-weight: bold; display: block; line-height: 100px; margin-left: 0;}
#wrap header .logo a:hover{color: #999;}

#wrap header .menu{width: 900px; height: 100px;  float: left;}
#wrap header .menu ul{width: auto; height: 100px; float: right;}
#wrap header .menu ul li{float: left;  height: 100px; line-height: 100px;}
#wrap header .menu ul li a{display: block; color: #fff; font-size: 20px;font-weight: bold;  text-transform: uppercase;margin: 0 0 0 30px;}
#wrap header .menu ul li a:hover{color: #999;}
#wrap #center{margin-top: 100px;}
#wrap #center #a1{width: 1200px; height: 1000px; background: url("../images/1.jpg")100px 0;}
#wrap #center #a2{width: 1200px; height: 1000px; background: url("../images/2.jpg")100px 0;}
#wrap #center #a3{width: 1200px; height: 1000px; background: url("../images/3.jpg")100px 0;}
#wrap #center #a4{width: 1200px; height: 1000px; background: url("../images/4.jpg")100px 0;}
#wrap #center #a5{width: 1200px; height: 1000px; background: url("../images/5.jpg")100px 0;}
#wrap #center #a6{width: 1200px; height: 1000px; background: url("../images/6.jpg")100px 0;}
#wrap #center #a7{width: 1200px; height: 1000px; background: url("../images/7.jpg")100px 0;}
#wrap #center #a8{width: 1200px; height: 1000px; background: url("../images/8.jpg")100px 0;}
#wrap #center #a9{width: 1200px; height: 1000px; background: url("../images/9.jpg")100px 0;}
#wrap #center #a10{width: 1200px; height: 1000px; background: url("../images/10.jpg")100px 0;}
#wrap #center #a11{width: 1200px; height: 1000px; background: url("../images/11.jpg")100px 0;}
#wrap #center #a12{width: 1200px; height: 1000px; background: url("../images/12.jpg")100px 0;}
#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12{position: relative;}
p{position: absolute; z-index: 2; top: 150px; left: 20px; width: 190px; font-size: 20px; text-align: center; color: #2b6fa6; font-weight: bold;}
p.view{z-index: 3; position: absolute; top: 230px; left: 30px;}
p.down{z-index: 4; position: absolute; top: 310px; left: 30px;}
p.view a, p.down a{background: #222 ; font-size: 18px; /*padding: 20px 50px;*/width: 170px; height: 55px; line-height: 55px; display: block; color: #fff; text-align: center; border-radius: 50px;}
#wrap footer{width: 1200px; height: 100px; background: #222;}
p.view a:hover, p.down a:hover{background: #2b6fa6;}