@charset "UTF-8";

/* reset */
*{margin: 0;padding: 0;}
body{background: #fbfbfb;}
ul, li{list-style: none; margin: 0;padding: 0;}
a{text-decoration: none;}

#quick{width: 60px; height: 300px; background: linear-gradient(45deg, #E71A0F, #f46d0d); border-radius: 25px; position: absolute; top: 100px; right: -80px; z-index: 1;}
#quick ul{width: 60px; height:300px; padding-top: 20px;}
#quick ul li{width: 40px; height: 40px;  transition: .3s; margin:10px; cursor: pointer; position: relative;}
#quick ul li .box{width: 2px; height: 2px; transition: .3s; position: absolute; top: 19px; left: 19px;}
#quick ul li:hover .box{width: 40px; height: 40px;  background: #fff; border-radius: 20px; position: absolute; top: 0; left: 0;}
#quick ul li a{position: absolute; left: 7px; top: 7px;}
#quick ul li a{background: url("../images/quick.png") no-repeat; width: 25px; height: 25px; display: block; background-size: 25px 125px; transition: .3s;}
#quick ul li a.qs{background-position: 0 0;}
#quick ul li a.qm{background-position: 0 -25px;}
#quick ul li a.qt{background-position: 0 -50px;}
#quick ul li a.qh{background-position: 0 -75px;}
#quick ul li a.qp{background-position: 0 -100px;}

#quick ul li:hover a{background: url("../images/quick1.png") no-repeat; width: 25px; height: 25px; background-size: 25px 125px;}
#quick ul li:hover a.qs{background-position: 0 0;}
#quick ul li:hover a.qm{background-position: 0 -25px;}
#quick ul li:hover a.qt{background-position: 0 -50px;}
#quick ul li:hover a.qh{background-position: 0 -75px;}
#quick ul li:hover a.qp{background-position: 0 -100px;}



#wrap{width: 1200px; margin: 0 auto; position: relative;}
/* 상단 */
#wrap header{height: 520px;  clear: both;}

/* 로고 */
#wrap header .top{height: 100px;}

#wrap header .top .logo{height: 100px; width: 200px; float: left;}
.logo a img{height: 50px; margin-top: 25px;}

/* topmenu */
#wrap header .top .topmenu{height: 100px; width: 1000px; float: left;}
.topmenu ul{ float: right; margin-top: 15px;}
.topmenu ul li{float: left; margin-left: 25px; height: 20px; line-height: 20px; }
.topmenu ul li a{display: block; text-align: center; font-size: 12px; color: #666; font-weight: bold;}
.topmenu ul li a:hover{opacity: .7;}
.topmenu ul li.search{width: 140px; height: 20px; background: url("../images/search.png") no-repeat 0 0; position: relative;}
.topmenu ul li.search .input-text{width: 100px; height: 18px; position: absolute; top: 1px;left: 10px; border: none; font-size: 12px; color: #333; background: #fbfbfb;}
.topmenu ul li.search input:focus{outline: none;}
.topmenu ul li.search input::placeholder{color: #c5c5c5;}
.topmenu ul li.search .input-img{width: 12px; height: 12px; position: absolute; top: 4px; right: 10px;}


/* mainmenu */
#wrap header nav{height: 40px; width: 1200px;}
nav ul{width: 1200px; height: 40px; background: #ad231c;}
nav ul li{float: left; background: linear-gradient(45deg, #E71A0F, #E71A0F); width: 199px; height: 40px; line-height: 40px; margin-right: 1px; transition: .4s;}
nav ul li:last-child{float: left; background: linear-gradient(45deg, #E71A0F, #E71A0F); width: 200px; height: 40px; line-height: 40px; margin-right: 0px; transition: .4s;}
nav ul li:hover{padding-top: 4px; background: linear-gradient(45deg, #E71A0F, #f46d0d);}
nav ul li a{display: block; font-style: 18px; color: #fff; text-align: center; }

/* top banner */
#wrap header .topbanner{height: 350px; width: 1200px; margin-top: 30px; position: relative;}

#wrap header .topbanner img{width: 1200px; height: 350px; display: block; position: absolute; top: 0; left: 0;}

/* 중단 */
#wrap section{height: 1175px; background: #222;}
#wrap section .box1{height: 500px;}
#wrap section .box2{height: 500px;}

#wrap section ul{padding: 40px 0 40px 40px;}
/* box1 */
#wrap section .box1 li{ float: left; width: 250px; height: 456px; margin-right: 40px; cursor: pointer; position: relative;}
#wrap section .box1 li .hidden{overflow: hidden;}
#wrap section .box1 li a img{display: block; width: 250px; transition: all .4s;}
#wrap section .box1 li .light{position: absolute; top: 0; left: -35px; opacity: 0; transition: all .4s; height: 300px; z-index: 50;}

/* hoverhox */
#wrap section .box1 li .hoverBox{width: 300px; height: 500px; position: absolute; left: -25px; top: -22px;}

/* icon */
#wrap section .box1 li .icon{ display: none;}
#wrap section .box1 li:hover .icon{ display:block;}

#wrap section .box1 li .icon span.share{width: 20px; height: 20px; background: url(../images/share.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 50px; transition: all .4s;}
#wrap section .box1 li .icon span.play{width: 20px; height: 20px; background: url(../images/play.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 25px; transition: all .4s;}
#wrap section .box1 li .icon span.like{width: 20px; height: 20px; background: url(../images/like.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 0;  transition: all .4s;}

#wrap section .box1 li .icon span.share:hover{width: 20px; height: 20px; background: url(../images/sharehover.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 50px;}
#wrap section .box1 li .icon span.play:hover{width: 20px; height: 20px; background: url(../images/playhover.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 25px;}
#wrap section .box1 li .icon span.like:hover{width: 20px; height: 20px; background: url(../images/likehover.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 0;}
#wrap section .box1 li .icon span.done{width: 20px; height: 20px; background: url(../images/likefocus.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 0; z-index: 999; display: none;}


#wrap section .box1 li:hover .hoverBox{background: rgb(27, 27, 27);}

#wrap section .box1 li:hover a img{transform: scale(1.05);}
#wrap section .box1 li:hover a h1{opacity: .7;}
#wrap section .box1 li:hover a p{opacity: .7;}
#wrap section .box1 li:hover .light{ opacity: .5;}

/* box2 */
#wrap section .box2 li{ float: left; width: 250px; height: 456px; margin-right: 40px; cursor: pointer; position: relative;}
#wrap section .box2 li .hidden{overflow: hidden;}
#wrap section .box2 li a img{display: block; width: 250px; transition: all .4s;}
#wrap section .box2 li .light{position: absolute; top: 0; left: -35px; opacity: 0; transition: all .4s; height: 300px; z-index: 50;}

#wrap section .box2 li .hoverBox{width: 300px; height: 500px; position: absolute; left: -25px; top: -22px;}

/* icon */
#wrap section .box2 li .icon{ display: none;}
#wrap section .box2 li:hover .icon{ display:block;}


#wrap section .box2 li .icon span.share{width: 20px; height: 20px; background: url(../images/share.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 50px; transition: all .4s;}
#wrap section .box2 li .icon span.play{width: 20px; height: 20px; background: url(../images/play.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 25px; transition: all .4s;}
#wrap section .box2 li .icon span.like{width: 20px; height: 20px; background: url(../images/like.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 0;  transition: all .4s;}

#wrap section .box2 li .icon span.share:hover{width: 20px; height: 20px; background: url(../images/sharehover.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 50px;}
#wrap section .box2 li .icon span.play:hover{width: 20px; height: 20px; background: url(../images/playhover.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 25px;}
#wrap section .box2 li .icon span.like:hover{width: 20px; height: 20px; background: url(../images/likehover.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 0;}
#wrap section .box2 li .icon span.done{width: 20px; height: 20px; background: url(../images/likefocus.png) no-repeat center; background-size: 16px 16px; position: absolute; bottom: 0; right: 0; z-index: 99; display: none;}





#wrap section .box2 li:hover .hoverBox{background: rgb(27, 27, 27);}

#wrap section .box2 li:hover a img{transform: scale(1.05);}
#wrap section .box2 li:hover a h1{opacity: .7;}
#wrap section .box2 li:hover a p{opacity: .7;}
#wrap section .box2 li:hover .light{ opacity: .5;}


/* text */
#wrap section .box1 li a h1{color: #e9e9e9; font-size: 20px; margin-top: 25px; transition: all .4s;}
#wrap section .box1 li a p{color: #959595; font-size: 12px; margin-top: 15px; transition: all .4s;}
#wrap section .box1 li a p strong{color: #f46d0d; transition: all .4s;}

#wrap section .box2 li a h1{color: #e9e9e9; font-size: 20px; margin-top: 25px; transition: all .4s; }
#wrap section .box2 li a p{color: #959595; font-size: 12px; margin-top: 15px; transition: all .4s; }
#wrap section .box2 li a p strong{color: #f46d0d; transition: all .4s; }


#wrap section .sbanner{height: 135px; width: 1200px;}
#wrap section .sbanner a img{width: 1200px;  margin-top: 40px;}

/* 하단 */
#wrap footer{height: 200px; width: 1200px; position: relative;}

#wrap footer .popcorn{position: absolute; top: 35px; left: 25px;}

#wrap footer .bmenu{height: 100px; width: 1200px; position: relative;}
#wrap footer .bmenu ul{ padding-top: 44px; padding-left: 300px;}
#wrap footer .bmenu ul li{float: left; margin-right: 30px;}
#wrap footer .bmenu ul li.strong a{display: block; color: #E71A0F; font-size: 12px; font-weight: bold;}
#wrap footer .bmenu ul li a{display: block; color: rgb(80, 80, 80); font-size: 12px; font-weight:bold;}
#wrap footer .bmenu ul li a:hover{opacity: .7;}
#wrap footer .bmenu ul li select{width: 150px; height: 25px; line-height: 25px; border: 1px solid rgb(199, 199, 199); font-size: 12px;padding-left: 5px; position: absolute; right: 0; top: 37.5px; color: #333;}
#wrap footer .bmenu ul li select:focus{outline: none;}

#wrap footer .bottom{height: 100px; width: 1200px;  border-top: 1px solid #E71A0F; box-sizing: border-box;}
#wrap footer .bottom .blogo{width: 150px; height: 100px; float: left;}
#wrap footer .bottom .blogo img{width: 100px; margin-top: 28px; opacity: .7;}

#wrap footer .bottom .text{width: 850px; height: 100px; float: left; position: relative;}
#wrap footer .bottom .text p{color: rgb(80, 80, 80); font-size: 12px;} 
#wrap footer .bottom .text p.add{position: absolute; top: 20px;left: 0;}
#wrap footer .bottom .text p.heo{position: absolute; top: 20px;left: 400px;}
#wrap footer .bottom .text p.num1{position: absolute; top: 40px;left: 0;}
#wrap footer .bottom .text p.num2{position: absolute; top: 40px;left: 190px;}
#wrap footer .bottom .text p.copy{position: absolute; top: 70px;left: 0; font-size: 10px; font-weight: bold;}

#wrap footer .bottom .sns{width: 200px; height: 100px; float: left;}
#wrap footer .bottom .sns ul{float: right; padding-top: 35px;}
#wrap footer .bottom .sns li{float: left; margin-left: 10px;}
#wrap footer .bottom .sns li a img{display: block; width:30px;}