@charset "UTF-8";

/* reset */
*{margin: 0;padding: 0;}
ul, li{margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none; }

#wrap{margin: 0; width: 100%; height: 100%;}

#wrap header{ height: 1200px; width: 20%; float: left;}
#wrap header .logo{ height: 200px; width: 100%; position: relative;}
#wrap header .logo img{ height: 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  }
/* menu */
#wrap header .menu{ height: 1000px; width: 100%; background: rgb(88, 31, 31);}
#wrap header .menu>ul{width: 100%; height: auto; }
#wrap header .menu>ul>li{width: 100%;}
#wrap header .menu>ul>li>a{display: block; height: 50px; line-height: 50px; background:rgb(88, 31, 31);color: #fff; font-size: 15px; padding: 0 20px; border-bottom: 1px solid rgb(121, 74, 74); border-style:border-box;}
#wrap header .menu>ul>li>a:hover{color: rgb(194, 100, 100);}
.submenu{width: 100%; height: auto; display: none;}
.submenu>li{width: 100%; height: auto;}
.submenu>li>a{height: 50px; line-height: 50px; background: rgb(255, 255, 255); color: rgb(59, 59, 59); padding: 0 30px; font-size: 14px; display: block; }
.submenu>li>a:hover{color: rgb(0, 0, 0); background: rgb(216, 216, 216);}
/* center */
#center{ width: 80%; height: 1200px; float: left; background: #666;}
#center .con1{width: 100%; height: 600px;}
#center .con{ width: 50%; height: 100%; position: relative; float: left;}
#center .con img{width: 100%; height: 600px; display: block;}
#center .con .box{position: absolute; top: 0; left: 0; right: 100%; bottom: 0;width: 0; height: 100%;opacity: 0; transition: .5s;background: #fff; overflow: hidden;}
#center .con:hover .box{width: 100%;opacity: .8;}
.box .text1{color: #333; font-size: 25px; position: absolute; top: 47%; left: 50%; transform: translate(-50%, -50%);white-space: nowrap;}
.box .text2{color: rgb(230, 38, 38); font-size: 15px; position: absolute; top: 53%; left: 50%; transform: translate(-50%, -50%);white-space: nowrap;}
.box a{display: block;}